body{
    color:#eeedec !important;
    letter-spacing:0.2em !important;
    font-size:0.8em !important;
}
.main{
    max-width:400px !important;
    max-height:400px !important;
}
.icon{
    position: relative;
    top:-50px;
    margin-bottom:-50px;
    border-radius:50%;
    width:100px;
}